{% extends 'base.html' %}

{% block content %}
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/bin_capacity" class="active">Bin Capacity</a>
    </nav>
    <div class = "logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="134" viewBox="0 0 76 134" fill="none">
            <path d="M8.80419 69.3597L37.5 5.91823L66.1958 69.3597H8.80419Z" stroke="black" stroke-width="4.87805"/>
            <path d="M46.9512 29.2683L46.9512 131.095" stroke="black" stroke-width="4.87805" stroke-linecap="square"/>
            <path d="M48.2797 130.229L72.2138 81.5818" stroke="black" stroke-width="4.87805" stroke-linecap="square"/>
            <path d="M72.2138 81.5818L46.9513 69.5122" stroke="black" stroke-width="4.87805" stroke-linecap="square"/>
        </svg>
    </div>
    <div class = "flex-container">
        <!----
        <div class = "bin_diagram">1</div>
        <div class = "bin_diagram">2</div>
        <div class = "bin_diagram">3</div>
        -->
        {% for photo, label in photos %}
            <!-- <div class = 'photo_bin'> -->
                <div class = 'photo_w_label'>
                    <img src="{{ url_for('static', filename='bin_status_pics/' + photo) }}" alt="{{ photo }}" class = 'bin_image'>
                    <p class = 'label'>{{photo[:-4]}}% </p>
                    <p class = 'label'>{{label}} </p>
                </div>
            <!-- </div> -->
        {% endfor %}
    </div>
{% endblock %}