html {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.header{
    padding: 2%;
    width: 100%;
    text-align: right;
    background-color: rgb(197, 191, 184);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    margin: 0%;
    box-sizing: border-box;
}

.about_us{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    text-align: center;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    margin: 0%;
    box-sizing: border-box;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}



  